<!DOCTYPE html>
<html>
    <head> 
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="markdown.css" rel="stylesheet">
    </head>

    <body class="container-fluid">
        
            <nav class="navbar justify-content-between">
                <a class="navbar-brand"><span>&#x303D;</span>arkIT</a>
                <form class="form-inline">
                    <button id="person">&#x1F467;</button>Logout
                </form>
            </nav>

            {{{body}}}

            {{!-- jquery cdn --}}
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src='script.js'></script>
      
    </body>

</html>
