<!DOCTYPE html>
<html>
    <head> 
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> --}}
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="markdown.css" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar justify-content-between">
            <a class="navbar-brand"><span class="fa fa-th"></span> markIT</a>
            <span>{{username}}'s personal-diary</span>
            <form class="form-inline">
                <button id="person" class="fa fa-user"></button><a href="/logout">Logout</a>
            </form>
        </nav>

    <div class="container-fluid">
        
            

            {{{body}}}

            {{!-- jquery cdn --}}
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src='script.js'></script>

    </div>
      
    </body>

</html>
