<div class="row main-row">

    <div class="col-md-2 fs">

      <div class="row fs-toolbar mb-3">
          {{!-- <div class="btn-group" role="group" aria-label="First group"> --}}
          {{!-- <div> --}}
            {{!-- https://apps.timwhitlock.info/emoji/tables/unicode -- &#x1F4C1; &#128441; &#x270E; &#x1F5D1; --}}
            <button type="button" class="btn col-md-3 create--folder fa fa-folder-open-o"></button>
            <button type="button" class="btn col-md-3 create--note fa fa-file"></button>
            <button type="button" class="btn col-md-3 edit--name fa fa-pencil"></button>
            <button type="button" class="btn col-md-3 delete fa fa-trash"></button>
            {{!-- <div class="col"></div> --}}
            {{!-- <button type="button" class="float-right btn col">&#9421;</button> --}}
          {{!-- </div> --}}
      </div>
     
      <div class="row">
          <ul class="folders">
            {{#each fs}}
            <li class="folder mb-3"><div class="mx-3 d-inline-block">&#x25b8;</div><label class="fa fa-folder-open-o"></label><input class="files" value={{this._id}} type="text" readonly></li>
            <ul class="notes d-none">
              {{!-- each of fs.value => egdg then, dgfg .. so, {{fs.value}} shud work .. --}}
              {{#each this.notes}} 
              <li class="ml-3 note mb-3"><div class="mx-3 d-inline-block">&#x25b8;</div><label class="fa fa-file"></label><input class="files" value={{this}} type="text" readonly></li>
              {{/each}}
            </ul>
            {{/each}}
          </ul>
      </div>

    </div>

    <div class="col-md-5 mkdn">

{{!-- &#x1F301; &#128266; &#128249; &#x1F4E9; &#x1F4BE; --}}
      <div class="row fs-toolbar mb-3 pad--toolbar d-none">
        <input type="button" class="btn col-md-2 add--img fa fa-file-image-o" value='&#xf1c5'>
        <input type="button" class="btn col-md-2 add--audio fa fa-volume-up" value="&#xf028">
        <input type="button" class="btn col-md-2 add--video fa fa-film" value='&#xf008'>
        <input type="button" class="btn col-md-2 export-to-pdf fa fa-cloud-download" value='&#xf0ed'>
        
        <button type="button" class="btn col-md-2 save--note fa fa-floppy-o" disabled value='&#xf0c7'></button>
        <button type="button" class="btn col-md-2 edit--note fa fa-edit"></button>
      </div>

      <div class="row notepad fill-height">
        <textarea id="pad" value='' readonly></textarea>  
      </div>

    </div>

    <div class="col-md-5 html" id="markdown" value=""></div>

</div>