html, body, .main-row, #pad, textarea{
    /* pad=100% => take up all the .notepad height */
    height:100%; 
    width:100%
}

/* body{
    background-color:#f4f4f4
} */

#person{
    background-color: transparent;
    color: white;
    outline:none;
    border:0
}

.navbar{
    background-color: #7A4AAA;
    color:white
}

/* textarea{
    padding:0
} */

ul {
    list-style: none;
    padding: 0px;
    width:100%
}

.fs-toolbar{
    background-color: #f4f4f4;
    margin-left:0;
    margin-right:-15px;
    height:40px;
    box-shadow: 0 10px 6px -6px #777
    /* box-shadow: 0 8px 6px -6px black */
    /* z-index: 5 */
}

a, a:hover{
    text-decoration: none;
    color:white
}
/* a:hover{
    color:white
} */

/* .fs too */
.col-md-2{
    height:100%
}

.main-row{
    /* so that sidebar .fs can take it as it's h=100% */
    position:relative;
    margin-left:-15px;
    margin-right:15px
}

.add--img, .add--video, .add--audio, .export-to-pdf{
    /* font-size:40px; */
    height:40px;
    line-height:40px
}

.pad--toolbar{
    margin-left:-15px;
    margin-right:15px
}

/* .fs, .mkdn, .html{
    padding-right:0
} */

/* not very clear */
.upload>input {
    display: none;
  }

label{
    padding:0;  
    font-size:20px
}

.btn{ 
    font-size:20px;
    background-color:transparent;
   
}

.container-fluid{
    position: absolute;
    top:56px;
    bottom:0
}

#markdown, .notepad{
    /* position: relative; */
    /* top: 40px;
    bottom: 0; */
    max-width: 100%;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    /* needed to give full h to container-fluid and it worked then!!!! */
    /* h=100% => container-fluid height. but left-panel is 40+16px less */

    /* height: calc( 100% - 40px - 16px ); in script.js s*/
    /* width of container-fluid is it? bcoz it has a pos defined */
    height:100%;
    word-wrap: break-word
}

.files--folders{
    height:calc( 100% - 40px - 1rem );
    /* max-width: 100%; */
    overflow-y: scroll
    /* word-wrap: break-word */
}

/* since, toolbar h=40 .. and this button has box-sizing. thus, h=40 made it vertically centered */
button[type="button"]{
    height:40px
}

input[type="text"]{
    height:20px;
    width:110px;
    border-radius:0;
    margin-left: 10px;
    border:0;  
    background-color:transparent
}

/* comma separated */
.btn, .btn:hover, .btn:active, .btn:focus, #pad{
    border:0;
    background-color: transparent;
    box-shadow: none;
    transition: none;
    outline:none
   
}

/* .save--note, .edit--note{
    position:absolute;
    right:1em
} */

